version: '3.8'

include:
    - ../music-downloader-backend/docker-compose.yml

services:
  music-downloader:
    build: .
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge